body {
  background: #2f558e url(../img/bg.png) repeat 0 0;
  background-size: 400px auto;
  font-family: sans-serif;
}
.input {appearance: none;
  display: box;
  margin: 10px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: hsla(0, 0%, 100%, .15) 0 1px 1px, inset hsla(0, 0%, 0%, .5) 0 0 0 1px;
  background-color: hsla(0, 0%, 0%, .2);
  background-image: -webkit-radial-gradient(hsla(200, 100%, 90%, 1) 0%, hsla(200, 100%, 70%, 1) 15%, hsla(200, 100%, 60%, .3) 28%, hsla(200, 100%, 30%, 0) 70%);
  background-repeat: no-repeat;
  transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
    -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
  outline: none;
}

.input:checked {
  transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
    -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
}

.input:active {
  transform: scale(1.5);
  transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
}

.input,
.input:active {
  background-position: 0 24px;
}

.input:checked {
  background-position: 0 0;
}

.input:checked~.input,
.input:checked~.input:active {
  background-position: 0 -24px;
}

img {
  display: block;
  width: 150px;
  margin: 100px auto;
}

.spoilerButton {
  background: #dae1e4;
  border: none;
  border-radius: 5px;
  color: #1d3c6a;
  font-size: 24px;
  padding: 40px 0;
  outline: none;
  cursor: pointer;
  margin: 0 auto 20px;
  width: 480px;
  display: block;
}

.spoiler {
	background: #1d3c6a;
  width: 440px;
  margin: 0 auto 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 24px
}
.spoiler span {
  color: #dae1e4;
  display: block;
  padding: 40px 20px;
}
